@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="http://www.openstreetmap.org/export/embed.html?bbox=139.27642822265628%2C35.38457160381764%2C140.22537231445315%2C35.956888171215326&amp;layer=transportmap"
        style="border: 1px solid black"></iframe>
<br />
<small><a href="https://www.openstreetmap.org/#map=10/35.6712/139.7509">大きな地図を表示</a></small>
